# bgen code
include MANIFEST.in
include pyproject.toml
include src/bgen/*.cpp
include src/bgen/*.py
include src/bgen/*.pyx
include src/*.h
include src/*.cpp
include src/zstd/lib/*.h
recursive-include src/zstd/lib/ *.h
recursive-include src/zstd/lib/ *.c
